{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:  Arial, Helvetica, sans-serif;
    background-color: #1B1D31;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
}


form{
    background-color: #24253c;
    display: flex
    flex-direction: column;
    padding: 50px;
    width: 220px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align:center;

}
form h2{
    font-size: 30px;
    color: #EDF0F0;
    margin-bottom: 35px;
}

input{
    padding: 17px;
    border-radius: 25px;
    background-color: transparent;
    border:2px solid #603452;
    margin-bottom: 30px;
    outline: none;
    color: #ffffff;
    font-size: 16px;

}
::placeholder{
    color:#89879B ;
}

.btn{
    background-color: #E53854;
    border: 2px solid #E53854;
    cursor: pointer;
}

.btn:hover{
    background-color: #F33b5a;    
    border: 2px solid #F33b5a;
}

@media (max-width:991px) {
    body{ 
        padding: 30px;
    }form{
        width: 360px;
    }


    
}